<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<title>TodoMVC with Spring Boot</title>
		<link rel="stylesheet" th:href="@{/css/index.css}" />
	</head>
	<body>
		<section class="todoapp">
			<header class="header">
				<h1>todos</h1>
				<form id="new-todo-form" th:action="@{/}" method="post" th:object="${newItem}">
					<input
						id="new-todo-input"
						class="new-todo"
						placeholder="What needs to be done?"
						autofocus
						autocomplete="off"
						name="title"
						th:field="*{title}"
					/>
				</form>
			</header>
			<!-- This section should be hidden by default and shown when there are todos -->
			<section id="main-section" class="main">
				<ul th:insert="~{fragments :: todoItems(${items})}" th:remove="tag"></ul>
			</section>
		</section>
		<!-- Scripts here. Don't remove ↓ -->
	</body>
</html>
