@model IEnumerable<TodoItem>
@{
    ViewData["Title"] = "Home Page";
}
<section class="todoapp">
    <header class="header">
        <h1>todos</h1>
        <form   
            id="new-todo-form"
            method="post"
            hx-trigger="submit"
            hx-post="@Url.Action("Add", "Todo")"
            hx-target="#todo-list"
            hx-swap="beforeend"
            hx-on::after-request="this.reset()">
            <input
                id="new-todo-input"
                class="new-todo"
                placeholder="What do i want to do this ISKS?"
                autofocus
                autocomplete="off"
                name="title"/>
            <input type="submit" hidden />
        </form>
        <section
                id="main-section"
                class="main"
        >
            <ul id="todo-list" class="todo-list">
                @foreach (var item in Model)
                {
                    @(await @Html.PartialAsync("TodoItem", item))
                }
            </ul>
        </section>
    </header>
</section>